<section class="totalbkgCli">
    <!-- Nav Bar Part   -->
    <nav class="uk-margin navContainerCli">
        <div class="uk-container">
            <div class="uk-navbar">
                <div class="uk-navbar-center">
                    <p id="navtextClient">Your New Event Has Been Confirmed!</p>
                </div>
            </div>
        </div>
    </nav>
    <!-- Center Div Part  -->
    <div class="uk-margin cenFullContainerClient">
        <div class="uk-container">
            <div class="centerContainerCliSch">
                <div class="AboveCalBoxconf">

                </div>
                <h2 class="clischheaderConfirmpg">Please See The Information Below For Your Scheduled Event:</h2>
                <h3 id="dayofWeek">{{testdate}}</h3>
                <h6 id="datedisplay">{{testdateind}}</h6>
                <h6 id="timedisplay">{{testtime}}</h6>
                <br>
                <h6 class="contentdisplay" id="confirmFullName">{{first_name}} {{last_name}}</h6>
                <h6 class="contentdisplay" id="confirmEmail">{{email}}</h6>
                <br>
                <h6 class="contentdisplay" id="confirmIF1">{{if1}}</h6>
                <h6 class="contentdisplay" id="confirmIF2">{{if2}}</h6>
                <br>
                <h6 class="contentdisplaytextarea" id="confirmITF">{{ift}}</h6>
            </div>
            <div class="AboveCalBoxconf"></div>
            <div class="addtocalBox">
                <p class="addtocalText"><i class="far fa-calendar-plus fa-3x addtocalIcon"> </i> Add This Event To Your
                    Calendar</p>
            </div>

        </div>
    </div>
    </div>
    <!-- Form Modal   -->

    <!--   -->

    <!-- jQuery -->
</section>